@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/mulish-v12-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/mulish-v12-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/mulish-v12-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/mulish-v12-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/mulish-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/mulish-v12-latin_cyrillic-700.woff") format("woff");
}
body {
  font-family: Mulish;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  height: 332px;
}
.header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
}
.menu {
  margin-left: auto;
}
.menu_list {
  display: flex;
}
.logo {
  display: inline;
  width: 30%;
  margin-left: 20px;
}
.list_item {
  list-style: none;
  margin-left: 20px;
}
.list_item a {
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}
.active a {
  opacity: 1;
  font-weight: 700;
  display: inline;
}
.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  line-height: 58px;
  width: 426px;
}
.text {
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  width: 445px;
}
.button {
  background-color: #458ff6;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #ffff;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 55px;
  width: 200px;
  height: 56px;
}
.services {
  display: flex;
  flex-direction: column;
}
.services_boxes {
  margin: 100px auto;
}
.services_top {
  text-align: center;
  width: 950px;
  margin: 100px auto;
}
.services_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 26px;
}
.services {
  text-align: center;
}
hr {
  width: 56px;
  height: 2px;
  background-color: black;
}
.services_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7d7987;
}
.intro_left {
  display: inline;
  width: 50%;
}
.services_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  justify-content: center;
}
.services_item {
  width: 300px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  /* border: 1px solid black; */
  padding: 40px;
  margin: 17px;
}
.services_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  margin-bottom: 10px;
  color: #000000;
}
.services_item p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  color: #7d7987;
}
.more {
  padding: 20px 30px;
  color: #458ff6;
  text-decoration: none;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  margin-bottom: 100px;
}
.post {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.description {
  margin: 100px;
  display: flex;
  flex-direction: column;
}
.description h3 {
  font-style: normal;
  width: 480px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.description p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  width: 480px;
  color: #7d7987;
  margin-bottom: 47px;
}

.description hr {
  margin: 0;
}
.description a {
  margin: 0;
}
h3 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  padding-top: 64px;
  margin-bottom: 24px;
}
.poster {
  width: 1120px;
  height: 425px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  margin: auto;
  /* display: flex; */
  /* justify-content: center; */
  box-sizing: border-box;
  margin-bottom: 47px;
}
.poster_one {
  display: flex;
}
.poster_one img {
  width: 133px;
  height: 133px;
  margin: 30px;
}
.poster_one ul {
  list-style: none;
  flex-direction: column;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
}
h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 0px;
}
.poster hr {
  width: 56px;
  height: 2px;
  left: 776px;
  top: 3861px;
  background: #ffffff;
  border-radius: 6px;
}
.poster p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  width: 420px;
  margin-left: 112px;
  margin-right: 118px;
}
.name {
  display: flex;
}
.direction {
  width: 300px;
  margin: auto;
  list-style: none;
  display: flex;
  margin-bottom: 227px;
}
.direction_icon {
  width: 28px;
  margin: 0 55px;
  color: #458ff6;
  /* margin-left: 60px; */
}
.direction a {
  width: 10px;
  height: 10px;
  margin-left: 20px;
}
.check_lastes {
  justify-content: center;
  margin-bottom: 72px;
}
.check_lastes h1 {
  text-align: center;
}
.check_out {
  width: 359px;
  height: 512px;
  border-radius: 20px;
  /* box-sizing: border-box; */
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 72px;
}
.last_box a {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 266px;
  padding-bottom: 35px;
  text-decoration: none;
}
.last_box {
  margin-left: 30px;
  justify-content: center;
}

.last_box_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;

  margin: auto;
}
.last_box_text {
  padding-left: 33px;
  padding-right: 60px;
  /* align-items: baseline; */
}
.read_more_direct img {
  margin-left: 12px;
}
.last_box h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}
.more_2 {
  padding: 20px 30px;
  color: #458ff6;
  text-decoration: none;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  justify-content: center;
}
.more_1 {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 202px;
}
footer {
  display: flex;
  width: 1440;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  justify-content: space-between;
}
.over {
  width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
}
.footer_1 {
  width: 391px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-right: 145px;
}
.footer_2 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}
.footer_2 ul {
  list-style: none;
  padding: 0px;
}
.footer_2 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 60px; */
  color: #ffffff;

  mix-blend-mode: normal;
}
.footer_2{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
